body{

font-family:Arial;

background:
linear-gradient(135deg,#1d2671,#c33764);

color:white;

text-align:center;

margin:0;

}



.card{

max-width:800px;

margin:25px auto;

padding:25px;

background:
rgba(255,255,255,0.15);

border-radius:20px;

}



.main{

width:220px;

border-radius:15px;

}



input[type=text]{

padding:12px;

width:70%;

border-radius:8px;

border:none;

}



input[type=file]{

display:none;

}



label,
button{


background:#00b050;

padding:12px 25px;

margin:10px;

border-radius:10px;

cursor:pointer;

border:none;

color:white;

font-size:16px;


}



.entry{


display:flex;

align-items:center;

justify-content:center;

gap:20px;

padding:15px;

border-bottom:
1px solid rgba(255,255,255,.3);


}



.entry img{


width:70px;

height:70px;

border-radius:50%;

object-fit:cover;


}


.entry p{

font-size:22px;

}
